body {
    background-color: black;
    margin: 0;
    text-align: center;
    color: white;
}

.mainImage {
    width: 300px;
    height: 150px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.gameCanvas {
    border: 2px inset;
}

a:link {
    color: #DDDDDD;
    text-decoration: none;
}

a:visited {
    color: #DDDDDD;
}

a:hover {
    text-decoration: underline;
}